{% extends 'base.html' %}
{% block content %}

<div class="container">
    <nav class="navbar navbar-light" style="background-color: #e0c9fd;">
    <a class="navbar-brand"><h2>Blogly</h1></a>
    <form class="form-inline">
        <a class="btn btn-primary mr-2" href="/users">Users</a>
        <a class="btn btn-primary" href="/tags">Tags</a>
    </form>
</nav>
</div>
<div class="container mt-3">
    {% for post in posts %}
    <div>
        <h4>{{ post.title }}</h4>
        <p> by {{ post.user.first_name }}</p>
        <p>{{ post.content }}</p>
        <b>Tags:</b>
        {%for tag in post.tags%}
        <span class="badge badge-primary">{{ tag.name }}</span>
        {% endfor %}
        <div><small class="text-muted">Created on {{ post.created_at }}</small></div>
    </div>
    <hr>
    {% endfor %}

    {% endblock %}